@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  background-color: #080834;
  color: white;
  min-height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

}

html, body {
  height: 100%;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
